<ion-header>
    
      <ion-navbar color="dark">
        <ion-title>Planning</ion-title>
      </ion-navbar>
    
    </ion-header>

<ion-content padding>
  <ion-card>
        <ion-card-title>
            Mes Apprenants
        </ion-card-title>
    <ion-list>
      <ion-item *ngFor="let item of items" (click)="itemSelected(item)">
          <button ion-item >
            <ion-icon name="person" item-start></ion-icon>
            {{ item.nom }}
            <p>{{ item.classe }}</p>
          </button> 
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
