<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
        
    <ion-navbar color="dark">
        <ion-title>Connexion</ion-title>
    </ion-navbar>
        
</ion-header>




  <ion-content padding no-bounce>
      <div class="spacer" style="height:70px;" id="login-spacer5"></div>
      <div>
          <img src="assets/imgs/logoApp.jpg" style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;"
          />
      </div>
      <div padding>
        <ion-list>
            <!--<div class="spacer" style="height:40px;" id="login-spacer2"></div>-->

            <ion-item>
                <ion-input type="text" name="login" [(ngModel)]="data.login" placeholder="Login" ></ion-input>
            </ion-item>
            <div class="spacer" style="height:10px;" id="login-spacer1"></div>
            <ion-item>
                <ion-input type="password" name="password" [(ngModel)]="data.password" placeholder="Password"></ion-input>
            </ion-item>
            <div class="spacer" style="height:40px;" id="login-spacer1"></div>
            <button id="login-button1" ion-button block on-click="valider()">
                Se Connecter
            </button>

            <button id="login-button2" ion-button clear block on-click="goToRegister()" margin-top>
                Ou Creer un Compte
            </button>
        </ion-list>
    </div>
  </ion-content>
