<!--
  Generated template for the NouveaufeedbackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>nouveaufeedback</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
        <ion-item>
          <ion-label stacked >
              Heure d'arrivée
          </ion-label>
          <ion-datetime  displayFormat="HH:mm" name="heure_arrivee" [(ngModel)]="heure_arrivee"
              placeholder="Heure arrivee" >
          </ion-datetime>
        </ion-item>
    
        <ion-item>
            <ion-label stacked >
                Heure début
            </ion-label>
            <ion-datetime  displayFormat="HH:mm" name="heure_debut" [(ngModel)]="heure_debut"
                placeholder="Heure debut" >
            </ion-datetime>
        </ion-item>
    
        <ion-item>
            <ion-label stacked >
                Heure fin
            </ion-label>
            <ion-datetime  displayFormat="HH:mm" name="heure_fin" [(ngModel)]="heure_fin"
                 placeholder="Heure fin" >
            </ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label stacked >
              Heure de départ
          </ion-label>
          <ion-datetime  displayFormat="HH:mm" name="heure_depart" [(ngModel)]="heure_depart"
              placeholder="Heure depart" >
          </ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label stacked>appréciation</ion-label>
          <ion-textarea [(ngModel)]="feedbackDTO.appreciation"></ion-textarea>
        </ion-item>
    
            <button id="login-button1" ion-button block on-click="enregistrer()">
                enregistrer
            </button>
      </ion-list>
</ion-content>
