<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Inscription</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        
          <ion-item>
            <ion-label floating>Nom</ion-label>
            <ion-input type="text" value=""></ion-input>
          </ion-item>
        
          <ion-item>
              <ion-label floating>Prénom</ion-label>
              <ion-input type="text" value=""></ion-input>
            </ion-item>
          
          <ion-item>
                <ion-label floating>téléphone</ion-label>
                <ion-input type="number" value=""></ion-input>
          </ion-item>

          <ion-item>
              <ion-label floating>Quartier</ion-label>
              <ion-input type="text" value=""></ion-input>
            </ion-item>
          
            <ion-item>
                <ion-label floating>Numéro de rue</ion-label>
                <ion-input type="number" value=""></ion-input>
              </ion-item>

              <ion-item>
                    <ion-label>Niveau scolaire</ion-label>
                    <ion-select>
                      <ion-option value="nes">BAC</ion-option>
                      <ion-option value="n64">BAC + 1</ion-option>
                      <ion-option value="ps">BAC + 2</ion-option>
                      <ion-option value="ps">BTS</ion-option>
                      <ion-option value="genesis">LICENCE</ion-option>
                      <ion-option value="saturn">MASTER</ion-option>
                    </ion-select>
              </ion-item>

              <ion-item>
                  <ion-label floating>Login</ion-label>
                  <ion-input type="text" value=""></ion-input>
                </ion-item>
              
                <ion-item>
                    <ion-label floating>Mot de Passe</ion-label>
                    <ion-input type="password" value=""></ion-input>
                  </ion-item>

                  <ion-item>
                      <ion-label floating>Confirmation Mot de Passe</ion-label>
                      <ion-input type="password" value=""></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Choix Matières</ion-label>
                        <ion-select multiple="true" [(ngModel)]="Mesmatieres" cancelText="annuler" okText="valider">
                          <ion-option *ngFor="let item of matieres"  >{{item.intitule}}</ion-option>
                          <!--<ion-option value="olives">Anglais</ion-option>
                          <ion-option value="xcheese" selected="true">Histoire</ion-option>-->
                        </ion-select>
                      </ion-item>
        
        </ion-list>
        <button ion-button clear block on-click="Register()" margin-top>
            enregistrer
        </button>

</ion-content>
