<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Mes Infos" tabIcon="person"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Planning" tabIcon="clock"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Feedback" tabIcon="paper"></ion-tab>
</ion-tabs>
