<!--
  Generated template for the DetailseancefeedbackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>detail seance</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-label floating for="login">
        <strong>Titre de la leçon :</strong>  
        <p color="light">{{ donnees.lecon }}</p>
      </ion-label>
      <div class="spacer" style="height:40px;" id="login-spacer2"></div>
      <ion-label floating for="login">
         <strong>Lieu de la séance</strong>  
         <p color="light">{{ donnees.lieu }}</p>
       </ion-label>
       <div class="spacer" style="height:40px;" id="login-spacer2"></div>
       <ion-label floating for="login">
         <strong>Heure de début </strong>  
         <p color="light">{{ donnees.heure_debut_seance }}</p>
       </ion-label>
       <div class="spacer" style="height:40px;" id="login-spacer2"></div>
       <ion-label floating for="login">
         <strong>Heure de fin</strong>  
         <p color="light">{{ donnees.heure_fin_seance }}</p>
       </ion-label>
       <ion-fab right bottom>
          <button ion-fab mini (click)="nouveau_feedback(donnees)"><ion-icon name="create"></ion-icon></button>
        </ion-fab>
</ion-content>
