<!--
  Generated template for the NewplanningPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>nouveau planning</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
        <ion-label stacked >
            Titre de la leçon
        </ion-label>
        <ion-input type="text" name="lecon" [(ngModel)]="seanceDTO.lecon"
            placeholder="titre de la leçon" >
        </ion-input>
    </ion-item>

    <ion-item>
        <ion-label stacked >
            Lieu
        </ion-label>
        <ion-input type="text" name="lieu" [(ngModel)]="seanceDTO.lieu" 
            placeholder="Lieu de séance" >
        </ion-input>
    </ion-item>

    <ion-item>
        <ion-label stacked >
            Date
        </ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" name="date_seance" [(ngModel)]="seanceDTO.date_seance" 
            placeholder="Date de séance" >
        </ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label stacked >
            Heure début
        </ion-label>
        <ion-datetime  displayFormat="HH:mm" name="heure_debut_seance" 
            [(ngModel)]="heure_debut_seance" placeholder="Heure début" >
        </ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label stacked >
            Heure fin
        </ion-label>
        <ion-datetime  displayFormat="HH:mm" name="heure_fin_seance" 
            [(ngModel)]="heure_fin_seance" placeholder="Heure fin" >
        </ion-datetime>
    </ion-item>

    <ion-item>
        <button id="login-button1" ion-button block on-click="enregistrer()">
            enregistrer
        </button>
    </ion-item>
  </ion-list>
</ion-content>
