<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Feedback
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-title>
          Séances
      </ion-card-title>
      <ion-list>
        <ion-item *ngFor="let item of items" (click)="itemSelected(item)">
          <button>
              <ion-icon name="paper" item-start></ion-icon>
              {{ item.lecon }}
            <p>{{ item.date_seance }}</p>
          </button>  
        </ion-item>
      </ion-list>
  </ion-card>
</ion-content>
