<ion-header>
    <ion-navbar color="dark">
        <ion-title>detail de la séance</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

      <ion-item>
        <ion-label>
          <strong>Titre de la leçon</strong> 
          <p color="light">{{ donnees.lecon }}</p>
        </ion-label>
      </ion-item>
      <div class="spacer" style="height:40px;" id="login-spacer2"></div>
      <ion-item>
        <ion-label>
            <strong>Lieu de la séance</strong>
            <p color="light">{{ donnees.lieu }}</p>
        </ion-label>
      </ion-item>
      <div class="spacer" style="height:40px;" id="login-spacer2"></div>
        
      <ion-item>
        <ion-label>
            <strong>Heure de début</strong>  
            <p color="light">{{ donnees.heure_debut_seance }}</p>
        </ion-label>
      </ion-item>
      <div class="spacer" style="height:40px;" id="login-spacer2"></div>
      <ion-item>
        <ion-label>
            <strong>Heure de fin</strong>  
            <p color="light">{{ donnees.heure_fin_seance }}</p>
        </ion-label>
      </ion-item>



    
</ion-content>
