<ion-header>
    <ion-navbar color="dark">
        <ion-title>Séances de {{ data.nom }}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-title>
        Séances
    </ion-card-title>
    <ion-list>
      <ion-item *ngFor="let item of items" (click)="itemSelected(item)">
        <button ion-item >
          <ion-icon name="clock" item-start></ion-icon>
          {{ item.lecon }}
          <p>{{ item.date_seance }}</p>
        </button>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-fab right bottom>
    <button ion-fab mini color="dark" (click)="nouveau_planning(data)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
